@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

.p-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.p-wrapper{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 15px;
}

hr{
    margin-top: -10px;
}

.card{
    /* display: flex; */
    /* flex-direction:row; */
    width:270px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 15px;
    background-color:rgba(237, 236, 236, 0.905);
    margin:5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer
}

.card:hover{
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.card img{
    border-radius: 15px;
    position: relative;
    border: 3px solid snow;
}

.like{
    position: absolute;
    display: flex;
    right: 0;
    margin: 10px;
    cursor: pointer;
}

.offer{
    position: absolute;
    display: flex;
    left: 0;
    margin: 10px;
    font-weight: bold;
    border: 1px solid #ff0000;
    padding: 1px;
    background-color:red;
    color: white;
    border-radius: 10px;
    font-style: italic;
}

.ptitle{
    font-family: 'Kalam', cursive;
    font-weight:lighter;
    padding-left: 15px;
    color: black;
}

.content{
    margin-top: 10px;
}


h4{
    color: crimson;
    text-align: center;
    font-family: 'Kalam', cursive;
}

h2{
    text-align: center;
    color: orangered;
    margin: 60px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding: 20px;
}

.pbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.below-nav{
    display: flex;
    justify-content: space-between;
}

.filters{
    padding: 10px;
    display: flex;
    align-items: center;
}

.sorts{
    padding: 10px;
    display: flex;
    align-items: center;
}

.form-select{
    width: 100px;
    margin-left: 15px;
    border: 1px solid grey;
    color:black;
}

.prbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}




@media screen and (max-width:1125px){
    .card img{
        width:245px;
    }
    .card{
        width: 245px;
    }
}

@media screen and (max-width:1030px){
    .card{
        width:100%;
    }
    .card img{
        width: 100%;
    }
}

@media screen and (max-width:935px){
    .p-wrapper{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}


@media screen and (max-width:695px){
    .p-wrapper{
        grid-template-columns: 50% 50%;
    }
    .card{
        width: 275px;
    }
    .card img{
        width: 275px;
    }
}

@media screen and (max-width:585px){
    .p-wrapper{
        grid-template-columns: 50% 50%;
    }
    .card{
        width: 245px;
    }
    .card img{
        width: 245px;
    }
}


@media screen and (max-width:511px){
    .p-wrapper{
        grid-template-columns: 50% 50%;
    }
    .card{
        width: 100%;
    }
    .card img{
        width: 100%;
    }
}

@media screen and (max-width:465px){
    .p-wrapper{
        grid-template-columns: 100%;
    }
    .card{
        width: 370px;
    }
    .card img{
        width: 370px;
    }
}

@media screen and (max-width:386px){
    .p-wrapper{
        grid-template-columns: 100%;
    }
    .card{
        width: 100%;
    }
    .card img{
        width: 100%;
    }
} 

@media screen and (max-width:316px){
    .p-wrapper{
        grid-template-columns: 100%;
    }
    .card{
        width: 100%;
    }
    .card img{
        width: 100%;
    }
} 

