.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  padding-left: 10px;
}

.loginModal {
  width: 40vw;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  display: flex;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
}

.ProdImgUp{
    position: absolute;
    top: -39px;
    right: 43%;
}

.rates{
  width: 100%;
}

.prodtImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* border: 1px solid #333; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.textLog{
    font-family: monospace;
    margin: 0;
    padding: 0;
    color:#333;
    font-weight:bold;
    font-size: 25px;
    text-decoration: none;
    border: none;
    margin-top: 10px;
}

.formmm {
  padding-right: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formmmGroup {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formmmGroup input,textarea,.rater {
  width: 31vw;
  padding: 8px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  font-size: 1rem;
}

.rater{
  border: none;
}

.formmmGroup input:focus,textarea:focus {
  outline: none;
  border: 1px solid rgb(155, 113, 135);
}

.toppp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
  margin-top: 10px;
  width: 100%;
}

.cross {
  cursor: pointer;
}

.submittt {
  width: 31vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnnn {
  width: inherit;
  padding: 7px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: rgb(244, 51, 151);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 550;
  text-transformmm: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 958px) {
    .loginModal{
        width: 50vw;
    }
    .formmmGroup input,.formmmGroup textarea{
        width: 40vw;
    }
    .submittt{
        width: 40vw;
    }
}


@media screen and (max-width: 768px) {
  .modalOverlay{
    /* display: none; */
  }
    .loginModal{
        width: 70vw;
    }
    .formmmGroup input,.formmmGroup textarea{
        width: 57vw;
    }
    .submittt{
        width: 57vw;
    }
}

@media screen and (max-width: 500px) {
    .loginModal{
        width: 90vw;
    }
    .formmmGroup input,.formmmGroup textarea{
        width: 70vw;
    }
    .submittt{
        width: 70vw;
    }
}
