@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
.navbar{
    margin: 0;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'candara' , sans-serif;
}

.hamburger,.closeHamburger{
    display: none;
}

.navbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.logoImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.logoName{
    font-size: 25px;
    font-weight: bold;
    color: rgba(23, 185, 23, 0.63);
    text-shadow: 0px 0px 5px aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Paprika', cursive;
    font-family: 'candara' , sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.navbarMenu{
    display: flex;
    flex-direction: row;
    margin-left:15px;
    align-items: center;
    justify-content: space-between;
    font-family: 'candara' , sans-serif;
    font-weight: 550;
    cursor: pointer;
}

.navbarMenuItems{
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
}

.navbarMenuItems:hover{
    background-color: aliceblue;
    color: royalblue;
    border-radius: 10px;
}

Link{
    text-decoration: none;
    color: #000;
}

Link:hover{
    color: royalblue;
}

.equal{
    text-decoration: none;
    color: #111;
}

.NavAuthItems:hover{
    background-color: aliceblue;
    color: royalblue;
    border-radius: 10px;
    padding: 5px 10px;
}


.NavAuth{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    /* padding: 0px 10px; */
}

.NavAuthItems{
    padding: 0px 10px;
    font-family: 'candara' , sans-serif;
    /* font-weight:bold; */
    cursor: pointer;
}

.NavAuthText{
    padding:0px 2px;
}

.searchInput{
    border:none;
    outline:none;
    background: none;
    font-size: 13px;
    /* font-weight: bold; */
    /* font-family: 'candara' , sans-serif; */
    font-family: 'consolas' , sans-serif;
    width:250px;
}

.NavAuthItems1{
    border: 1px solid rgb(63, 63, 63);
    padding: 5px 10px;
    font-size: 30;
    font-family: 'Paprika', cursive;
    border-radius: 50px;
    /* background-color: aliceblue; */
    background-color: #fff;
    margin-right: 20px;
}

.container-fluid{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.navbar-nav{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin-top: -1px;
}

.carts{
    display: none;
}

.NavAuthItemsCart{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width:1070px){
    .NavAuthItems1{}
    .searchInput{
        width: 200px;
    }
    .navbarMenuItems{
        padding: 5px 8px;
    }
}

@media only screen and (max-width: 992px){
    .NavAuth{
        display: flex;
        flex-direction: column-reverse;
    }
    .NavAuth{
        padding: 0;
        margin: 0;
        margin-top: -9px;
    }
    .navbarMenuItems,.NavAuthItems{
        padding-bottom:8px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px 10px;
    }
    .NavAuthItems1{
        width: 200px;
        margin-left: 10px;
        border: 1px solid #111;
        padding: 0px 10px;
        font-size: 30;
        font-family: 'Paprika', cursive;
        border-radius: 50px;
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
    .searchInput{
        border:none;
        outline:none;
        background: none;
        font-size: 17px;
        font-family: 'consolas' , sans-serif;
        width:150px;
    }
    .carts{
        display: block;
    }
    .NavAuthItemsCart:hover{
        background-color: aliceblue;
        color: royalblue;
        border-radius: 10px;
        padding: 5px 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
