.cat-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cat-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}

hr{
    margin-top: -10px;
}

.cat-card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 15px;
    background-color:rgba(237, 236, 236, 0.905);
    margin:.4rem;
    transition: all 0.3s ease-in-out;
    width: fit-content;
}

.cat-card:hover{
    z-index: 1;
    transform: scale(1.035);
}

.cat-card img{
    border-radius: 10px;
    position: relative;
    width: 170px;
    height: 170px;
}

.org-card{
    position: relative;
}

.cat-mid{
    display: flex;
    flex-direction: column;
    margin:auto;
    color: black;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.ctitle{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#292929e3;
    padding: 2px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.493);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.3px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.685);
}

.content{
    margin-top: 10px;
}

h2{
    text-align: center;
    color: #f44397;
    margin: 60px;
    margin-bottom: 30px;
    padding: 20px;
}

@media screen and (max-width: 805px){
    .cat-wrapper{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .cat-card img{
        width:160px;
        height: 160px;
    }
}

@media screen and (max-width: 550px){
    .cat-wrapper{
        grid-template-columns: 50% 50%;
    }
    .cat-card img{
        width:165px;
    }
}

@media screen and (max-width: 405px){
    .cat-card img{
        width:145px;
        height: 145px;
    }
}