.mainfooter{
    background-color: #111;
    color: white;
    padding: 0px;
    margin: 0px;
}

footer {
  background: #111;
  color: white;
  /* margin-top: 100px; */
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

.footer-pad{
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footHead{
    font-family: "candara", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.i{
  color:rgb(216, 216, 216);
}

.i:hover{
  color: #fa944b;
  animation: 1s ease-in-out 0s 1 slideInFromLeft;
  cursor: pointer;
}


.right{
    font-size: 13px;
    font-family: "candara", sans-serif;
}

.yr{
    font-family: monospace;
}

.catText{
    text-decoration: none;
    font-size: 13px;
    padding: 0;
    letter-spacing:.1px;
    word-spacing: 1px;
    font-weight: 100;
    color: #e4e4e4;
    margin: 0;
    font-family: monospace;
}

