.footer {
    position:sticky;
    bottom: 0;
    width: 100%;
    background-color:#111;
    text-align: center;
    bottom: 0;
    color:white;
    height: 100%;
    padding-top: 8px;
    font-family: 'candara',sans-serif;
}

.footerContainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-family: 'candara',sans-serif;
    font-size: 19px;
    /* flex-wrap: wrap; */
    padding-bottom: 15px;
}

/* Left Part */
.leftpart,.centerpart,.rightpart{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-family: 'candara',sans-serif;
}

.newsEmail{
    display: flex;
    flex-direction: row;
    font-family: 'candara',sans-serif;
}
.enterEmail1{
    border: none;
    background: none;
    border: 1px solid rgba(128, 128, 128, 0.432);
    outline: none;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'candara',sans-serif;
    color: white;
    padding-left: 10px;
}

.newsButton{
    border: none;
    background: none;
    border: 1px solid rgb(3, 250, 16);
    outline: none;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'candara',sans-serif;
    color: white;
    padding-left: 10px;
    cursor: pointer;
    background-color: rgb(3, 250, 16);
    border-top-right-radius:6px;
    border-bottom-right-radius: 6px;
}

.mymart{
    font-size: 20px;
    margin-bottom: 16px;
    font-family: 'candara',sans-serif;
}


.MobilTitle{
    font-size: 19px;
    text-align: right;
}

.phone{
    text-align: right;
    font-size: 16px;
}

.socialHandles{
    display: flex;
    flex-direction: row;
    margin-top: 14px;
    /* width: 100%; */
    /* align-items: flex-end; */
    justify-content: flex-end;
    text-align: right;
    /* border: 1px solid red; */
    text-align: right;
}

.socialIcons{
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgba(255, 255, 255, 0.37); */
    cursor: pointer;
    color:rgb(241, 242, 243);
    /* border-color:rgb(9, 127, 236); */
}

.socialIcons:hover{
    margin-top: -3px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, 2);
    color: aqua;
}

.rightTitle{
    font-size: 18px;
}

.rightTtems{
    font-size: 15px;
    text-align: right;
    cursor: pointer;
}

.rightTtems:hover{
    color: rgb(155, 110, 51);
    text-decoration: underline;
}

@media screen and (max-width:1050px) {
    .footerContainer{
        flex-direction: column-reverse;
        margin: 10px 10px;
    }
    .centerpart{
        margin:20px 10px;
    }
    .MobilTitle,.phone{
        text-align: center;
    }
}

@media screen and (max-width:365px){
    .enterEmail1{
        width: 100%;
    }
    .newsletter{
        width:100%;
        margin: 20px 0px;
    }
}