@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* For Webkit-based browsers (Chrome, Safari) */

::-webkit-scrollbar {
  width: 2.5px; /* Change the width as desired */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change the background color as desired */
}

::-webkit-scrollbar-thumb {
  background: rgb(244, 51, 151); /* Change the scrollbar color as desired */
}
