.singles{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #f5f5f5;
    /* border: 1px solid red; */
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.singleContainer2{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    /* border: 1px solid black; */
}

.singleContainer{ 
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    /* border: 1px solid black; */
    max-width: 1000px;
}

.singleContainer1{
    margin-bottom: 200px;
}

.singleLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.singleRight{
    flex: 1;
}

.buttons{
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
}


.singleImgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.pTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 2px 20px; */
    /* margin-left: 10px; */
    /* margin-right: 5px; */
    background-color: white;
}

.titlePrice{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin: 2px;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    padding: 8px;
    margin: 2px 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.titlePrice1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 2px 10px;
}

.singleTitles,.singlePrices{
    margin:0px;
    max-width: 400px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.singlePrices{
    font-weight: bolder;
    font-size: 29px;
    padding-left: 20px;
}

.singleTitle{
    margin:0px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.singlePrice{
    margin:0px 10px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bolder;
    margin-top: -10px;
    margin-left: 10px;
}

.delivery{
    margin-left: 8px;
    font-size: 14px;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #999;
    width: fit-content;
    padding: 4px 10px;
    background-color: rgb(3, 141, 99);
    border-radius: 25px;
    color: white;
    border:1px solid transparent;
    /* margin-bottom: 13px; */
}

.selectSize{
    /* margin: 20px; */
    padding-top: 10px;
    padding-left: 10px;
    font-size: 19px;
    color: rgb(59, 59, 59);
    font-family: 'Open Sans', sans-serif;
}

.productDetails{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 19px;
    color: rgb(59, 59, 59);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
}

.Sizes{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    align-items: center;
}

.quantity1{
    font-size: 27px;
    margin: 0px 9px;
    font-weight: bolder;
    border: 1px solid #9999;
    width: 103px;
    margin-top: -16px;
    padding: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.choose{
    height: 21px;
    width: 21px;
    margin-bottom: 10px;
    margin: 0px 2px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 50%;
    border: 10px solid red;
    border:1px solid #999
}

.choose:nth-child(1){
    background-color:green;
}

.choose:nth-child(2){
    background-color:red;
}

.choose:nth-child(3){
    background-color:rgba(122, 121, 121, 0.377);
}

.choose:nth-child(4){
    background-color:black;
}

.choose:nth-child(5){
    background-color:yellow;
}

.choose:nth-child(6){
    background-color:rgb(0, 140, 255);
}

.chooseS{
    margin: 5px;
    padding: 6px 12px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 20px;
}

.chooseS:hover{
    background-color: aquamarine;
    color: white;
    border:1px solid transparent;
}

.selecteds{
    background-color: pink;
    padding: 15px;
    color: white;
    border: 3px solid aqua;
}

.selectedSyz{
    background-color:aqua;
    border: none;
    padding: 9px 15px;
}

.titleS{
    font-weight:bolder;
    padding: 5px 0px;   
}

.singleTitle1{
    margin:10px;
    /* width: 400px; */
    font-size: 14px;
    color: rgb(61, 61, 61);
}

.share{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color:red;
}

@media screen and (max-width:920px) {
    .singleRight{
        max-width: 370px;
    }
}

@media screen and (max-width:795px) {
    .singleRight{
        max-width: 300px;
    }
}


@media screen and  (max-width:850px){
    .singleImg{
        width:300px;
        height:380px;
    }
    .buttons{
        justify-content: center;
    }
    .singleTitle{
        width: 100%;
        font-size: 16px;
    }
    .singlePrice{
        font-size: 25px;
    }
    .delivery{
        margin-left: 0px;
    }
    .selectSize{
        font-size: 16px;
    }
    .productDetails{
        font-size: 16px;
    }
    .singleTitle1{
        font-size: 12px;
    }
    
}

@media screen and  (max-width:700px){
    .singleContainer{
        flex-direction: column;
    }
    .singleLeft{
        width: 100%;
    }
    .singleRight{
        width: 100%;
        max-width: 100%;
    }
    .singleImg{
        width: 100%;
        height: 100%;
    }
    .singleTitle{
        width: 100%;
        font-size: 16px;
    }
    .singlePrice{
        font-size: 25px;
    }
    .delivery{
        margin-left: 0px;
    }
    .selectSize{
        font-size: 16px;
    }
    .productDetails{
        font-size: 16px;
    }
    .singleTitle1{
        font-size: 12px;
    }
    .titleS{
        font-size: 20px;
    }
}






















.ppcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.col-6{
    width: 50%;
}

.single-product{
    max-width: 1050px;
}

.single-product .breadcrumb{
    background: #48484810;
    padding: 8px 4px;
    border-radius: 8px;
    font-size: 15px;
}

.breadcrumb span{
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 8px;
}
.breadcrumb span:not(:last-child)::after{
    content: '/';
}

.breadcrumb span a{
    text-decoration: none;
    color: var(--primary-color);
}

/** product image **/

.single-product .product-image{
    width: 100%;
}

.product-image .product-image-main{
    /* position: relative; */
    display: block;
    height: 480px;
    background: var(--bg-grey);
    padding: 10px;
}

.product-image-main img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** product title **/

.product-title{
    margin-top: 20px;

}
.product-title h2{
    font-size: 32px;
    line-height: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}

/** product rating **/
.product-rating{
    display: flex;
    margin-top: 4px;
    margin-bottom: 10px;
    align-items: center;
}

.product-rating span:not(:last-child){
    color: #ffc600;
}
.product-rating .review{
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}
/** Product price **/
.product-price{
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.product-price .offer-price{
    font-size: 48px;
    font-weight: 700;
}
.product-price .sale-price{
    font-size: 22px;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--grey);
    margin-left: 12px;
}

/** Product Details **/
.product-details{
    margin: 10px 0;
}
.product-details h3{
    font-size: 18px;
    font-weight: 500;
}
.product-details p{
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.2rem;
}

/** Product size **/
.product-size{
    margin: 10px 0;
}
.product-size h4{
    font-size: 16px;
    font-weight: 500;
}

.product-size .size-layout{
    margin: 5px 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.product-size .size-layout .size-input{
    display: none;
}
.product-size .size-layout .size{
    background: var(--bg-grey);
    padding: 10px 18px;
    border: 1px solid var(--bg-grey);
    border-radius: 4px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.product-size .size-layout .size:hover{
    border: 1px solid var(--grey);
}

.product-size .size-layout input[type="radio"]:checked + .size{
    background-color: rgb(35, 35, 35);
    border: 1px solid var(--grey);
    color: var(--bg-grey);
    box-shadow: 0 3px 6px var(--shadow);

}


/** Product Color **/
.product-color{
    margin: 10px 0;
    justify-content: center;
}
.product-color h4{
    font-size: 16px;
    font-weight: 500;
}
.product-color .color-layout{
    margin: 5px 0;
    display: flex;
    gap: 10px;
}

.product-color .color-layout label{
    border-radius: 4px;
    cursor: pointer;
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
}

.product-color .color-layout .black{
    
    background-color: black;
}

.product-color .color-layout .red{
    background-color: red;
}
.product-color .color-layout .blue{
    background-color: blue;
}

.product-color .color-layout input[type="radio"]:checked + label{
    box-shadow: 0 3px 6px var(--shadow);
}

.product-color .color-layout .color-input{
    display: none;
}


/** divider **/
.divider{
    display: block;
    height: 1px;
    width: 100%;
    background: #48484830;
    margin: 20px 0;
}

/** product Button Group **/

.product-btn-group{
    display: flex;
    gap: 15px;
}
.product-btn-group .button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
}
.product-btn-group .buy-now{
    background-color: var(--accent-color);
    color: #fff;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}

.product-btn-group .buy-now i{
    font-size: 20px;
}
.product-btn-group .buy-now:hover{
    box-shadow: 0 3px 6px var(--shadow);
}

.product-btn-group .add-cart{
    
    background-color: var(--bg-grey);
    color: var(--grey);
    border-radius: 4px;
    cursor: pointer;
}
.product-btn-group .add-cart i{
    font-size: 20px;
}
.product-btn-group .add-cart:hover{
    box-shadow: 0 3px 6px var(--shadow);
    background: var(--grey);
    color: #fff;
}
.product-btn-group .heart{
    color: var(--grey);
    cursor: pointer;
}
.product-btn-group .heart i{
    font-size: 20px;
}
.product-btn-group .heart:hover{
    color: var(--accent-color);
}
.color-label{
    border: 1px solid gray;
}

.selected-label{
    border: 2px solid cyan;
}


/** Responsive Mobile **/
@media screen and (max-width:850px) {
    .ppcontainer{
        padding: 20px;
        height: auto;
    }
    .row{
        display: block;
    }
    .downn{
        margin-top: 100px;
    }

    .col-6{
        width: 100%;
        display: block;
    }
    .single-product{
        width: 100%;
    }

    .product-image .product-image-main{
        width: 100%;
        height: 280px;
    }

    .breadcrumb{
        display: none;
    }

    .product-title h2{
        font-size: 24px;
        line-height: 1.6rem;
    }
    .product-size{
        display: block;
    }
    .product-size .size-layout{
        display: block;
        margin: 10px 0;

    }
    .product-size .size-layout .size{
        padding: 6px 10px;
    }
    .product-btn-group{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/** Responsive Tablet **/
@media  (min-width: 520px ) and (max-width: 1080px) {
   .ppcontainer{
    display: block;
    height: auto;
    padding: 20px;
   }   
}